/* ---------------------1000px------------------- */
@media (min-width: 1000px) {
  .bi-list {
    visibility: hidden;
  }
  nav {
    width: 100%;
    background-color: darkgreen;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  .header {
    color: antiquewhite;
  }
  .nav-links {
    list-style: none;
    display: flex;
  }
  .nav-item a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 15px;
  }
  .nav-item {
    position: relative;
    transition: transform 0.2s;
  }
  .nav-item:hover {
    background-color: white;
    cursor: pointer;
    transform: scale(1.1);
  }
  .nav-item:hover a {
    color: darkgreen;
  }

  /* Applying flex */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-item {
    position: relative;
    transition: transform 0.2s;
  }
}
/* -----------------Max 1000----------------- */

@media (max-width: 1000px) {
  nav {
    margin-left: 2rem;
    margin-right: 2rem;
    /* overflow-x: auto; */
  }
  .nav-links {
    list-style: none;
    /* display: flex; */
  }
  .nav-item a {
    padding: 5px;
    text-decoration: none;
  }
}

/* -------------------for 500px -----------------------------*/
@media (max-width: 500px) {
  /* .nav-links {
    display: none;
  } */
  .nav-links {
    display: none;
  }

  .navbar span:hover .nav-links {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    color: darkgreen;
    z-index: 1;
    margin-top: 2rem;
  }

  .nav-item {
    /* float: none; */
    display: block;
    text-align: center;
  }

  .nav-item a {
    display: block;
    padding: 12px 16px;
    /* text-decoration: none; 
    */
    color: darkgreen;
  }

  .bi-list {
    margin-right: 1rem;
    cursor: pointer;
  }
  /* .bi-list:hover .nav-links {
    display: block;
  } */

  nav {
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: darkgreen;
  }
  /* .nav-item:hover {
    background-color: white;
    cursor: pointer;
    transform: scale(1.1);
  } */
}

.nav-item:hover a {
  color: darkgreen;
}
/* body {
  overflow-x: hidden;
} */
ul > .nav-item {
  list-style: none;
  padding-right: 10px;
}
.nav-item a {
  text-decoration: none;
  color: white;
}
.nav-item {
  position: relative;
  transition: transform 0.2s;
}
/* ------------------Example----------------------- */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.header {
  font-size: 1.5em;
  margin: 0;
  color: white;
}

.nav-links {
  /* display: flex; */
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-toggle {
  display: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  .nav-links {
    display: none;
  }
  .nav-toggle {
    display: block;
  }
}

.nav-active {
  display: block;
}
