@media (min-width: 1000px) {
  nav {
    width: 100%;
    background-color: darkgreen;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  .header {
    color: antiquewhite;
  }
  .nav-links {
    list-style: none;
    display: flex;
  }
  .nav-item a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 15px;
  }
  .nav-item {
    position: relative;
    transition: transform 0.2s;
  }
  .nav-item:hover {
    background-color: white;
    cursor: pointer;
    transform: scale(1.1);
  }
  .nav-item:hover a {
    color: darkgreen;
  }

  /* Applying flex */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-item {
    position: relative;
    transition: transform 0.2s;
  }
}
/* ---------Media Queries---------- */

@media (min-width: 500px) and (max-width: 1000px) {
  nav {
    margin-left: 2rem;
    margin-right: 2rem;
    overflow-x: auto;
  }
  .nav-links {
    list-style: none;
    display: flex;
  }
  .nav-item a {
    padding: 5px;
    text-decoration: none;
  }
  body {
    overflow-x: hidden;
  }
}

@media (min-width: 150px) and (max-width: 500px) {
  nav {
    margin-left: 2rem;
    margin-right: 2rem;
    overflow-x: auto;
  }
  .nav-links {
    list-style: none;
    display: flex;
  }
}
